@font-face {
	font-family: Bebas;
	src: url(./assets/Bebas.ttf);
}

#root {
	position: relative;
	top: -50px;
}

body {
	background-color: white;

}



.logout-div {
	width:100%;

}

.logout-button {
	border: #BDBDBD solid 2px;
	font-family: Bebas;
	padding: 5px;
	cursor: pointer;
	float: right;
	font-size: 15px;
	border-radius: 5px;
	margin-right: 20px;
}

.dash-header {
	position: relative;
	left: 40px;
}

.header-div {
	position: fixed;
}

.App-header {
	height: 180px;
	display: flex;
	flex-wrap: nowrap;
	padding: 20px;
	width: 100vw;
	/*dark-grey*/
	color: #404040;

	/*baby-blue*/
	background-color: #B7DBF5;
}

.App-title {
	font-size:70px;
	margin-left: 20px;
	flex-grow: 5;
}

.App-logo {
	height:150px;
	border: #BDBDBD 1px solid;
	padding: 15px;
	border-radius: 50%;
	background-color: white;

}


main {
	/*width: 40%;*/
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
	
}

.App-container {
	position: absolute;
	margin-top: 300px;
	width: 100vw;
}

.about-us {
	width: 40%;
	margin: auto;

}

h1, h2, h3, nav {
	font-family: 'Bebas';
}

h2 {
	font-size: 30px;
}

p {
	font-size: 15px;
}

.about-us p {
	font-size: 20px;
}

h3 {
	font-size: 20px;
	margin-top: 20px;
}

.navbar {
	border-top: #BDBDBD 1px solid;
	border-bottom: #BDBDBD 1px solid;
	height: 50px;
	position: static;
	background-color: #404040;
	padding-right: 25px;
	color: white;
	width: 100vw;
}

.navbar a {
	color: white;
	padding: 13px 13px; 
	display:inline-block;
	float: right;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

section {
	overflow: scroll;
}

footer {
	background-color: #B7DBF5;
	position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    border-top: #404040 5px solid;
    font-family: 'Roboto', sans-serif;
}

footer p {
	font-size: 10px;
	text-align: center;
}

.dashboard {
	width: 100vw;
	margin: auto;
}
.panels {
	width: 100%;
	columns: 200px 2;
	justify-content: center;
}

.panel {
	margin: 30px;
/*	border-left: #BDBDBD 2px solid;*/
}

.purchase-history-list {
	list-style: none;
}

.purchase-history-list li {
	margin: 10px;
}



fieldset {
	border: none;
}

.form-input {
	display: flex;
}

.form-input input[type="radio"] {
	order: -1;
}

.form-input input[type="text"], input[type="password"] {
	order: 2;
}

.form-input label {
	order: 1;
}

label, input {
	margin: 10px;
}



@media only screen and (max-width: 1440px) {
	.App-title {
		font-size: 60px;
	}
}

@media only screen and (max-width: 1024px) {
	.App-title {
		font-size: 50px;
	}
}

@media only screen and (max-width: 768px) {
	main {
		width: 70%;
	}
}


@media only screen and (max-width: 375px) {
	.App-title {

	  	font-size: 35px;

	}
	.App-header {
 		height: 100px;

 		padding-bottom: 40px;
	}
	.App-logo {
		height: 80%;
	}
} 


@media only screen and (max-width: 320px) {

 

} 