main {
  text-align: center;
}

.App-logo {
	width: 40%;

}

.App-header {

  height: 150px;
  padding: 20px;
  color: #040706;
}

.App-title {
 	font-family: 'Bebas';
	font-size:40px;

}

.App-intro {
  font-size: large;
}

main {
	width: 80%;
	margin: auto;
}

.navbar {
	background-color: #040706;
}

